<h2>ArcGIS for Applied Economists</h2>

<p><b>Dates:</b> Monday 8th, 15th, 22nd, 29th June<br>
<b>Time:</b> 14:00 (sharp) - 18:00 (roughly)<br>
<b>Place</b>: Economic History Library, Ludwigstr 33, Room 444</p>

<p>Downloads:</p>

<ul>
<li><a href = "http://tiny.cc/GISsyllabus">Syllabus</a></li>
<li><a href = "http://tiny.cc/GISinstallation">ArcGIS Installation Instructions</a></li>
<li>Session 1: <a href = "http://tiny.cc/GISlecture1">Slides (pdf)</a> | <a href = "http://tiny.cc/GISmaterials1">Materials (zip)</a></li>
<li>Session 2: <a href = "http://tiny.cc/GISlecture2">Slides (pdf)</a> | <a href = "http://tiny.cc/GISmaterials2">Materials (zip)</a></li>
<li>Session 3: <a href = "http://tiny.cc/GISlecture3">Slides (pdf)</a> | <a href = "http://tiny.cc/GISmaterials3">Materials (zip)</a></li>
<li>Session 4: <a href = "http://tiny.cc/GISlecture4">Slides (pdf)</a> | <a href = "http://tiny.cc/GISmaterials4">Materials (zip)</a> | <a href="https://dl.dropboxusercontent.com/u/13847375/Website/ArcGIS%20Course%20SS%202014/Flares.zip">Flares (zip)</a> | <a href="http://tiny.cc/session4solutions">Solutions to exercises (zip)</a> | <a href="https://dl.dropboxusercontent.com/u/13847375/Website/ArcGIS%20Course%20SS%202015/Session4Extras.zip">Extras (zip)</a></li>
</ul>

<p>Useful links:</p>

<ul>
<li><a href = "http://scholar.harvard.edu/dell/classes/gis-applied-economists-lecture-notes-only">Melissa Dell's GIS lecture notes</a></li>
<li><a href = "https://sites.google.com/site/mkudamatsu/gis">Masayuki Kudamatsu's course</a></li>
<li><a href = "http://guides.library.yale.edu/content.php?pid=29977&sid=219355">Yale GIS resources</a></li>

</ul>
