<br/><br/>
<p>I am a PhD candidate in Economics at the Ludwig Maximilian University of Munich, with a research focus on economic history. My supervisor is <a href="http://www.davidecantoni.net">Davide Cantoni</a>. My research fields are political economy, economic history and cultural economics.</p>
<br/>
<table>
<tr>
  <td>Email:<td/>
  <td>&nbsp; &nbsp;</td>
  <td><a href="mailto:mark.westcott@econ.lmu.de">mark.westcott@econ.lmu.de</a></td>
</tr>
<tr style="vertical-align:top">
  <td>Address:<td/>
  <td></td>
  <td>Department of Economics<br/>Ludwigstr. 33<br/>80539 Munich<br/>Germany</td>
</tr>
</table>

<br/></br/>
