<h2>R for Applied Economists</h2>

<p>You can download handouts of each sessions' slides here:</p>

<ul>
<li><a href = "slides/Session1-no-solutions.html">Session 1</a></li>
<li><a href = "slides/Session2-no-solutions.html">Session 2</a></li>
<li><a href = "slides/Session3-no-solutions.html">Session 3</a></li>
<li>Session 4: <a href="other/Session4-Latex.pdf">LaTex integration (PDF)</a> | <a href = "slides/Session4.html">Graphs</a></li>
</ul>

<p>Solutions here:</p>

<ul>
<li><a href = "slides/Session1-solutions.html">Session 1</a></li>
<li><a href = "slides/Session2-solutions.html">Session 2</a></li>
<li><a href = "slides/Session3-solutions.html">Session 3</a></li>
<li><a href = "other/economistGraph.R">Economics Graph replication</a></li>
</ul>

<p>Other downloads:</p>
<ul>
<li><a href = "other/ggplot2-book.zip">Ggplot2 book (password protected)</a></li>
<li><a href = "other/debug-example.R">Debugging example</a></li>
</ul>
