<h2>Data</h2>
<h4>"Population des villes des tiers mondes de 1500 à 1950" by Dr. Gilbert Eggimann</h4>

<p>I had considerable difficulty in finding this reference, eventually resorting to archive.org. The data used to be available at <a href="http://histoireconomique.info/sommaire-villes-tiers-m.htm">Population des villes des tiers mondes de 1500 à 1950</a> but that site often fails to load. Here is a copy of the data in <a href="https://docs.google.com/open?id=0B4jaLeSPlA0vekZhXzd0dzY5Q0k">CSV format</a>.</p>

<h4>1831, 1881, 1914 Ottoman census summary data</h4>
<p><a href="mailto:markw@markw.de">Email me</a> for access to a digitizisation of Karpat's Ottoman Population 1830-1914</p>
