<h2>Summer semester 2015</h2>

<p><b>Dates:</b> Monday 27th, Tuesday 28th, Thursday 30th, Friday 31st July<br>
<b>Time:</b> 13:15  - 17:00 (roughly)<br>
<b>Place</b>: Economic History Library, Ludwigstr 33, Room 444</p>

<p>You can download handouts of each sessions' slides here:</p>

<ul>
<li><a href = "slides/Session1.html">Session 1</a></li>
<li><a href = "slides/Session2.html">Session 2</a></li>
<li><a href = "slides/Session3.html">Session 3</a></li>
<li>Session 4: <a href = "slides/Session4-latex.pdf">LaTeX integration (PDF)</a> | <a href = "slides/Session4.html">Graphs</a></li>
</ul>

<p>Solutions:</p>

<ul>
<li><a href = "solutions/Session1.html">Session 1</a></li>
<li><a href = "solutions/Session2.html">Session 2</a></li>
<li><a href = "solutions/Session3.html">Session 3</a></li>
</ul>

<p>Other materials</p>
<ul>
<li><a href = "materials/ggplot2-book.zip">ggplot2 book (password protected)</a></li>
</ul>
